#root{max-width:1280px;margin:0 auto;padding:2rem;text-align:left}.markdown-container{max-width:800px;width:90%;margin-left:auto;margin-right:auto;padding:20px;background-color:#f7e3e3;border:1px solid #330a0a;margin-top:50px}
