#root {
  max-width: none;
  font-family: 'DejaVu Sans Mono', monospace;
  text-align: left;
  justify-content: center;
}

.markdown-container {
  max-width: 800px; 
  width: 90%; 

  margin-left: auto;
  margin-right: auto; 

  padding: 20px;
  background-color: #f7e3e3;
  border: 1px solid #330a0a;
  
  margin-top: 50px; 
}

.header{
  font-style: italic;

  border-radius: 15px;
  justify-items: center;

  max-width: 800px; 

  margin-left: auto;
  margin-right: auto; 

  text-align: center;

  padding: 3 5px;
	background-color: #ffb5b5;
}

.app-background {
  background-color: #f0f0f0; 
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.background-image {
  background-color: #ffffff; 
  background-image: url('src/assets/light_grey_dots_background.jpg');
  background-size:50%; 
  background-repeat: repeat;
}

.container {
  display: flex;
  max-width: auto;

  margin-left: auto;
  margin-right: auto; 


  gap: 20px; 
  padding: 20px; 
}

.child-floating-box {
    position: absolute; 
    width: 100px;       
    height: 350px;     
    
    top: 100px; 
    
    right: 930px; 
    
    color: white;
    text-align: center;
    line-height: 30px;
    border-radius: 4px;
}

.parent-container {
  position: relative; 
  max-width: 800px; 
  width: 90%; 

  margin-left: auto;
  margin-right: auto; 

  padding: 20px;
  background-color: #f7e3e3;
  border: 1px solid #330a0a;
  
  margin-top: 50px; 
}
